@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDD; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC; 
}

audio {
	width: 200px;
}

h2 {
	text-align: center;
	color: black;
}
		
.body {
	margin: 0em;
	height: 100%;
	}


#content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	
}

/*
.page {
	position: absolute;
	padding-top: 15px;
	padding-left: 150px;
	overflow-y: scroll;
	top: 0;
	z-index: 0;
	background-color: #FFFFFF;
	height: 100%;
	width: 100vw;
	left: 0;
	transition: .5s;
	max-width: 700px;
	padding-right: 30px;
	padding-bottom: 30px;
	overflow-x: hidden;
}

.page:target {
	position: absolute;
	padding-left: 150px;
	padding-top: 20px;
	z-index: 100;
	height: 100%;
	max-width: 700px;
	padding-right: 30px;
	padding-bottom: 30px;
	overflow-x: hidden;
}


.page::-webkit-scrollbar { 
	display: block;
	width: 8px;
	background-color: #F5F5F5;
}
*/

textarea {
	width: 100%;
	border: none;
	height: 20px;
	overflow: hidden;
	resize: none;
	transition: .5s;
}

textarea:focus {	
	resize: vertical;
	overflow: auto;
	height: 100px;
}

#pages {
	border: 2px solid #000;
	width: 70px;
	text-align: center;
	border-radius: 25px;
}

#pageNumber {
	font-size: 30px;
}

#numberOf {
	font-size: 30px;
}

p {
	color: #000;
	word-wrap: break-word;
	max-width: 530px;
}

h1 {
	text-align: center;
}

h2 {
	max-width: 530px;
}

h3 {
	max-width: 530px;
}

h4 {
	max-width: 530px;
}

h5 {
	max-width: 530px;
}

h6 {
	max-width: 530px;
}

body {word-wrap: break-word;
	color: #000;
}

/*
li::before {
	content: "• ";
}
*/

ul {
	list-style-type: disc;
	max-width: 530px;
	overflow: visible;
	list-style-position: outside;
	overflow-x: visible;
}

ol {
	max-width: 530px;
	overflow: visible;
	list-style-position: outside;
	overflow-x: visible;
}

li {
	margin-top: 10px;
}

.sidenav {
	height: auto;
	width: 100px;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;
	transition: 0.5s;
	padding-left: 15px;
	padding-bottom: 50px;
	display: block;
	max-height: 150px;
}


.phonenav {
	height: 23vw;
	width: 100vw;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-left: 1vw;
	padding-bottom: 50px;
	display: none;
}

.phoneToolKit {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	width: 100%;
	height: 0px;
	display: none;
}

.phoneToolKit .close {
	position: absolute;
	top: 0;
	right: 45px;
	font-size: 60px;
	color: #fff;
	text-decoration: none;
}


.glossary {
	height: 100%;
	width: 0px;
	/*width: 20vw;*/
	max-width: 267px;
	position: fixed;
	z-index: 500;
	top: 0;
	right: 0;
	background-color: #0A2F5C;
	overflow-x: hidden;
	overflow-y: auto;
	transition: 0.5s;
	padding-top: 5px;
	padding-right: 0px;
	color: #fff;
	padding-left: 0px;
}

.toolLink {	
	outline: none;
}

a.toolLink:focus, a.toolLink:active {	
	opacity: .5;
}

.hide {
	display: none;
}

.phoneMenu {
	float: right;
	font-size: 8vw;
	padding-right: 2vw;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 888;
	text-decoration: none;
}

@media screen and (max-width: 550px) {
	
	.sidenav {
		max-height: 160px;
		width: 110px;
		overflow: hidden;
	}
	
	.glossary, .vertical {
		display: none;		
	}
	.phonenav {
			display: block;
	}
	
	#content {
		padding-left: 5px;
		max-width: 80vw;
	}
	
	
	.round {		
		width: 42px;
		height: 42px;
	}
	
	.page:target {
		padding-top: 15px;
		padding-right: 4vw;
		padding-left: 120px;
		overflow: visible;
	}
	
	.phoneToolKit {
		display: block;
	}
	
	* {
		overflow-x: visible;
			overflow: visible;
	}
	
	.hide {
		display: block;
	}
	
	.app {
		text-align: center;
		width: 50vw;
		margin-left: 25%;
		border-radius: 25px;
	}
}








.img {	
/*
	text-align: center;
	width: 18vw;
	display: block;
	margin: auto;
	vertical-align: middle;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
*/
	top: -40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18.5vw;
	max-width: 250px;
	vertical-align: middle;
}

.btn {
	background-color: #fff;
	border-radius: 25px;
	border: 2px solid #2D92E0;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition-duration: 1s; /* Safari */
	transition-duration: 1s;
	cursor: pointer;
}

.btn:hover {
	background-color: #fff;
	color: black;
	border: 2px ridge #2D92E0;
}

.assignmentBtn {
	background-color: white;
	border: 2px solid #fff;
	color: black;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bolder;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 15px;
	margin-top: 5px;
	width: 100%;
}

.assignmentBtn:hover {
	border-radius: 0;
	background-color: transparent;
	color: #fff;
}

/*Scrollbar*/
::-webkit-scrollbar-track {
	background-color: transparent;	
}

.scrollbar-primary::-webkit-scrollbar {
width: 8px;
background-color: transparent;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: transparent; }

 /*H5P rounded corners*/
p.iframeA {
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	width: auto;
	display: block;
	margin: auto;
	vertical-align: middle;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

p.iframeB {
			border: 1px solid #fff;
			background-color: #fff;
			border-radius: 20px;
		}


div.iframeC {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 1px;
	overflow: hidden;
}

.iframeC iframe, .iframeC object, .iframeC embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


a.pagination {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
	word-wrap: break-word;
}

a.reg:link, a.reg:visited { 
  color: blue;
  text-decoration: underline;
  cursor: auto;
}

a.reg:link:active, a.reg:visited { 
  color: purple;
}

a.reg:hover {
	cursor: pointer;
}



.iframeA > a {
	outline: none;
}

.app:hover {
	opacity: .5;
}



a.pagination:hover {
  background-color: #ddd;
  color: black;
}


.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 100%;
}

/*Text Area*/
.input1:focus {
	background-color: #2D92E0;
	border: 3px solid #555;
	width: 100%;
	color: #fff;
}

.input1 {
	display: block;
	padding-left: 10vw;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 24px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: #000;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	resize: none;
}


/*put discussion in iframe*/
#my-div
{
    width    : 100vw;
    height   : 100vw;
    overflow : hidden;
    position : relative;
}

/*
#my-iframe
{
    position : absolute;
    top      : -10vw;
    left     : -24vw;
    width    : 100vw;
    height   : 100vw;
}
*/

/*Video Link*/
a.video {
	color: #000;
	border-radius: 100%;
	border: 1px dashed #000;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	display: inline-block;
	width: 70px;
}

a.video:hover {
	color: black;
	border-radius: 5%;
	border: 1px dashed #000;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	opacity: .5;

}


a, a:visited { color:black }

a.link.active { 
	background-color: #DDD;
	border: #FFFFFF 1px;
	color: black;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bolder;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 15px;
	margin-top: 5px;
	width: 100vw;
}

ul.audioList {
	cursor: pointer;
	font-size: 20px;
	list-style-type: circle;
}


/* Verbs Tool - Off Canvas Menu */
.verbs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 803;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.verbs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.verbs a:hover {
  color: #000;
}

.verbs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .verbs {padding-top: 15px;}
  .verbs a {font-size: 18px;}
}

/*Accessibility*/
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
	width: 15vw;
	max-width: 200px;
    background-color:#000;
	opacity: .7;
    left: 0;
    top: 0;
    height: auto;
    overflow:auto;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:111;
	position: absolute;
}

.vertical {
    writing-mode: tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
	/*white-space:nowrap;*/
	float: right;
	color: #fff;
	font-weight: bolder;
	top: 1vw;
	right: 0px;
	position: fixed;
	z-index: 300;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0px 10px 10px 0px;
	background-color: #0A2F5C;
	transition: .5s;
	max-width: 295px;
	
}

.vertical a {
	color: white;
	padding: 0px;
	text-decoration:inherit;
  	display: inline-block;
	word-wrap: break-word;
	transition: .5s;
}

.vertical:hover a {
	text-decoration:inherit;
  	display: inline-block;
	background-color: #0A2F5C;
	padding-left: 5px;
}


/*Toggle Button*/
.switch {
	position: absolute;
	width: 29px;
	height: 17px;
	float: right;
	right: .5vw;
	bottom: .5vw;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  -webkit-transition: .4s;
  transition: .4s;
	
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2D92E0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2D92E0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table, th, td {
	padding: 3px;
	transition: .5s;
	text-align: center;
	overflow: visible;
	
}

table {
	border: 3px ridge #2D92E0;
	border-radius: 10px;
}

th {
	border-radius: 10px;
	border: 1px solid #fff;
	background-color: #2D92E0;
	color: #fff;
}

td {
	border: 1px solid #fff;
}

/*
tr:nth-child(even) {
	background-color: #C7E2F6;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}
*/

a.imageLink {
	width: 30%;
	height: 30%;
	
}

a.imageLink:hover {
	background-color: transparent;
}

.exit {
	padding: 5px;
	border-radius: 100%;
	text-decoration: none;
}

.exit:hover {
	opacity: .8;
	background-color:#0C3594;
}

.help {
	padding: 5px;
	border-radius: 100%;
	text-decoration: none;
}

.help:hover {
	opacity: .8;
	border: none;
}

/*
.search-box {
	position: relative;
	background: #2F3640;
	border-radius: 40px;
	transition: 0.4s;
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

/*
.search-txt {
	border: none;
	background: #fff;
	outline: none;
	float: left;
	padding-left: 5%;
	color: #000;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 80%;
}
*/

/*

.search-box:hover{
	width: 100%;
}
*/
		
/*
.search-box:hover > .search-txt {
	width: 25%;
	padding: 0 0px;
}
*/



/*Search*/
.search-txt:focus {
	border: 3px solid #555;
	color: #000;
	width: 80%;
	text-align: left;
}

.search-txt:focus + .search-btn {
	display: inline-block;
	position: absolute;
	padding-left: 5px;
}

.search-txt {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: #000;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	resize: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	text-align: center;
	max-height: 40px;
}

.search-btn {
	color: #fff;
	float: right;
	width: 2vw;
	height: 2vw;
	display: none;
}

.homeBtn {	
	font-size: 20px;
	transition: .5s;
	border: 2px solid #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.homeBtn:hover {
	border: 2px solid #6D6D6D;
	border-radius: 25px;
}

[name=title] {
	text-align: center;
}



/* Hover Translation */


.spanish {
  position: relative;
  display: inline-block;
  border-bottom: 2px ridge #82CBDA;
  /*#6BDD97*/
  cursor: pointer;
	overflow: visible;
/*
	border-right: none;
	border-left: none;
	border-top: none;
*/
}

td.spanish, th.spanish {
	display: table-cell;
}

li.spanish {
	display: list-item;
	border-bottom: none;
}

li.spanish::after {
	 content: "";
    display: block;
    width: 80px;
    border-bottom: 2px ridge #82CBDA; 
}

.spanish .english {
  visibility: hidden;
/*  width: 530px;*/
	float: left;
  background-color: #1A73D9 /*#0D47A1*/;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
   top: 100%;
	box-shadow: 2px 1px 2px #0D47A1;
	overflow: visible;
  
  

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
}

.spanish:hover .english {
  visibility: visible;
	position: absolute;
	left: 0;
	margin-top: 10px;
	padding: 5px;
	display: block;
	overflow: visible;
	opacity: 1;
}

td.spanish:hover .english {
  visibility: visible;
	position: absolute;
	left: 25%;
	margin-top: 10px;
	padding: 5px;
	display: block;
	overflow: visible;
	opacity: 1;
}

.spanish .english::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 30%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1A73D9 /*#0D47A1*/ transparent;
}

td.spanish .english::after {
  content: "";
  position: absolute;
  bottom: 97%;
  left: 60%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1A73D9 /*#0D47A1*/ transparent;
}

/*Web Accessibility*/
.spanish:focus .english {
	visibility: visible;
	position: absolute;
	left: 0;
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
	opacity: 1;
}

@media screen and (max-width: 900px) {
	
	#courseCompletion {
	display: none;
	}
}


.notes {
	font-size: 24px;
	border: 1px solid #fff;
	border-radius: 30px;
	background-color: #3B99F0;
	width: 200px;
	color: #fff;
}

.lesson::before {
	content:"→ ";
	color: #3B99F0;
}


/* Help Box */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10001; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
	max-width: 600px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {opacity: .5;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	background-color: #fff;
}

.modal-body a {
	color: purple;
}

